* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  height: 600px;
  padding: 20px;
  margin: 0 5px;
  box-shadow: 0 0 10px 2px grey;
  background-size: cover;
  background-image: url(/public/images/about-img.webp);
}
.login-content {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.4666666667);
  text-align: center;
  padding: 100px 100px;
}
.login-content h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}
.login-content h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
}
.btn-su, .btn-log {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.btn-su:active, .btn-log:active {
  color: black;
}
.btn-su:active:after, .btn-log:active:after {
  background: transparent;
}
.btn-su:hover::before, .btn-log:hover::before {
  opacity: 1;
}
.btn-su:hover::after, .btn-log:hover::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.btn-su:before, .btn-log:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

.about {
  margin-top: 120px;
  margin-bottom: 100px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  box-shadow: 0 0 30px 5px #005500;
  padding: 50px 0;
}
.about .service-question {
  font-weight: 700;
  font-size: 3rem;
}
.about h4 {
  font-weight: 400;
  font-size: 2rem;
}
.about-services {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: 40px;
  column-gap: 40px;
}
.about-farmers, .about-consumers, .about-users {
  width: 330px;
  height: 340px;
  padding: 10px 20px 20px 20px;
  border: 9px #005500 solid;
}
.about-farmers h2, .about-consumers h2, .about-users h2 {
  font-weight: 700;
  font-size: 1.5rem;
}
.about-farmers p, .about-consumers p, .about-users p {
  font-weight: 400;
  font-size: 1.1rem;
}
.about-icons {
  width: 35%;
  margin: 20px auto;
  padding: 20px;
}

.user {
  width: 32%;
  margin: 22px auto;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

.services {
  margin-top: 150px;
  text-align: center;
  background: #004200;
  font-family: "Oswald", sans-serif;
  padding: 100px 0;
  color: white;
}
.services h1 {
  font-weight: 600;
  font-size: 3rem;
  text-decoration: underline;
}
.services h3 {
  font-weight: 500;
  font-size: 2rem;
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: 100px;
  column-gap: 100px;
  margin-top: 50px;
}
.services-container h1 {
  font-weight: 500;
  font-size: 2.5rem;
}
.services-container li {
  list-style: none;
  font-size: 1.2rem;
}
.services-container img {
  height: 350px;
  width: 500px;
  margin-bottom: 35px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

.contact {
  margin-top: 100px;
  font-family: "Oswald", sans-serif;
  box-shadow: 0 0 30px 5px #005500;
  padding: 30px 0;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-container input {
  width: 585px;
  margin: 15px 0;
  padding: 8px 10px;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
}
.contact-container textarea {
  margin: 15px 0;
  padding: 8px;
  max-width: 590px;
  min-height: 200px;
  font-family: "Oswald", sans-serif;
  border-radius: 6px;
  border: 2px solid black;
}
.contact-container h1 {
  font-weight: 700;
  font-size: 3rem;
}
.contact-container h2 {
  font-weight: 500;
  font-size: 2rem;
}
.contact-container button {
  width: 610px;
  margin: 15px 0;
  padding: 8px 10px;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.contact-container button:active {
  color: black;
}
.contact-container button:active:after {
  background: transparent;
}
.contact-container button:hover::before {
  opacity: 1;
}
.contact-container button:hover::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.contact-container button:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.social-icons {
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.social-icons a {
  font-size: 26px;
  margin: 0 10px 0 0;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
}
.social-icons a:hover {
  background-color: #000;
  color: white;
  border-radius: 2px;
}

.navbar {
  width: 100%;
  min-height: 6vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  -moz-column-gap: 550px;
       column-gap: 550px;
  align-items: center;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 10px 0;
  background: white;
  font-family: "Oswald", sans-serif;
  overflow: hidden;
}
.navbar ul {
  display: flex;
  list-style: none;
  font-size: 1.25rem;
}
.navbar ul a {
  color: black;
  text-decoration: none;
  float: left;
  display: block;
}
.navbar li {
  padding: 8px 20px;
  transition: transform 0.5s;
  cursor: pointer;
}
.navbar li:hover {
  transform: translate(2px, 2px);
  text-decoration: underline;
}
.navbar li:hover a {
  color: #005500;
}
.navbar-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2.5rem;
  cursor: pointer;
}
.navbar-img {
  width: 100px;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid black;
}/*# sourceMappingURL=index.css.map */